/target
/vendor
/.idea/*
/.vs/*
/.vscode/*
/.history/*
/.history
/.idea
/.vs
/.vscode
/Cargo.lock

/crates/validation
/crates/validation/*

**/node_modules

.DS_Store
**/.DS_Store
/starters/web_scraper3/my_data.db
/my_data.db
